{% extends "base.html" %}
{% block title %}Минимизация{% endblock title %}
{% block header %}Минимизация функции с одной переменной{% endblock header %}
{% block content%}
    <h3>Данные пользователя:</h3>
        <p>Имя пользователя: {{ name }}</p>
        <p>Username: {{ email }}</p>

    <form method="POST" action="results">
        {% csrf_token %}
        <table>
            {{ taskform.as_table }}
        </table>
        <input type="submit" value="Send" />
    </form>
{% endblock content %}
